{% extends 'base.html' %}
{% block content %}
<form action="{% url 'show_confirmation' election.id %}" method="post">

            {% for ballot in election.ballot_set.all %}
                <h3>{{ ballot.question_text }}</h3>
                
                {% csrf_token %}
                {% for candidate in ballot.candidate_set.all %}
                    <div class='form-check' >
                        <input class="form-check-input" type="radio" name="candidate{{ forloop.parentloop.counter0 }}" id="candidate2{{ forloop.counter }}" value="{{ candidate.id }}" />
                        <label for="candidate{{ forloop.counter }}">{{ candidate }}</label>
                    </div>
                {% endfor %}
                    
            {% endfor %}
            <input class='btn btn-primary' type="submit" value="Vote"/>
                </form>
{% endblock %}