{% extends 'base.html' %}
{% block content %}
        <div class="page-header">
            <h3>Enter Your QR Code</h3>
        </div>

        <div class="form-panel">
            <form method="post">
                {% csrf_token %}
                {% if message %}
                    {{ message }}<br><br>
                {% endif %}
                {{ form.as_p }}
                <div class='btn-group' id="sub">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
      </div>
{% endblock %}